.git
.github
.pytest_cache
.ruff_cache
.mypy_cache
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.coverage
htmlcov
.env
.env.*
gha-creds-*.json
infra/terraform/**/.terraform
infra/terraform/**/*.tfstate
infra/terraform/**/*.tfstate.*
