.player-card--pitch.player-card--shirt-full .player-card__shirt-crop {
  height: 52%;
  overflow: hidden;
  top: 0.2rem;
}

.player-card--pitch.player-card--shirt-full .player-card__shirt-crop > .player-card__shirt.large {
  height: 200%;
}

.player-card--pitch.player-card--shirt-full.player-card--size-xs .player-card__shirt-crop > .player-card__shirt.large {
  height: 165%;
}
